.dropdown-menu{
    width: 250px;
    position: absolute;
    align-self: start;
    margin-top: 50px;
    /* margin-left: -2.5rem; */
    list-style: none;
    text-align: center;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    z-index: 14;
    scroll-margin-block: 0;
}

.dropdown-menu li{
    /* background: #1565c0; */
    color: white;
    cursor: pointer;
    width: 100%;
    z-index: 14;
}

#dropdownS{
    background: #d32f2f;
}
#dropdownN{
    background: #1565c0;
}
#dropdownM{
    background: #35b63b;
}


.dropdown-menu li:hover{
    color: white;
	border-radius: 0px;
    transition: all 0.2s ease-out;
    z-index: 16;
}

#dropdownSa:hover{
	background: #f36969;
}
#dropdownNa:hover{
    background: #64b5f6;
}
#dropdownMo:hover{
	background: #43a047;
}


.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	grid-template-rows: repeat(1, auto);
	color: white;
	text-decoration: none;
	width: 100%;
    height: 100%;
    border-top: #788da0 solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Comfortaa';
}

.dropdown-link:hover{
    color: rgb(255, 255, 255)
}


@media screen and (max-width: 1270px){

    .dropdown-menu{
        width: 200px;
        position: absolute;
        align-self: start;
        margin-top: 0px;
        /* margin-left: -2.5rem; */

        left: -200px;
        list-style: none;
        text-align: center;
        flex-direction: column;
        /* grid-template-columns: repeat(1, 1); */
        z-index: 14;
    }
    
    .dropdown-menu li{
        /* background: #1565c0; */
        cursor: pointer;
        width: 100%;
        z-index: 14;
        
    }
    
    .dropdown-menu li:hover{
        /* background-color: #64b5f6; */
        border-radius: 0px;
        transition: all 0.2s ease-out;
        z-index: 16;
    }
    
    .dropdown-menu.clicked{
        display: none;
    }
    
    .dropdown-link{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        grid-template-rows: repeat(1, auto);
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
}